extends layout

block content
    .container.py-5
        form
            .mb-3
                label.form-label(for='inputTitle') Titel
                input#inputTitle.form-control(type='text')
            .mb-3
                label.form-label(for='inputCategory') Kategorie
                select#inputCategory.form-select
                    option Vorspeise
                    option Hauptspeise
                    option Nachspeise
            .mb-3
                label.form-label(for='inputTitle') Foto (URL)
                input#inputTitle.form-control(type='url')
            .mb-3
                label.form-label(for='inputInstructions') Zubereitung
                textarea#inputInstructions.form-control(rows="10")
            #ingredientList.mb-3
                label.form-label(for='inputInstructions') Zutaten
                .row
                    .col-2
                        label.form-label(for='inputInstructions') Menge
                    .col-9
                        label.form-label(for='inputInstructions') Zutat
                .inputRow.row
                    .col-2
                        input#inputIngredientAmount1.form-control(type='text')
                    .col-8
                        input#inputIngredient1.form-control(type='text')
                    .col-1.d-flex.justify-content-center.align-items-center
                        i#addIngredientBtn.ingredientControlBtn.fas.fa-plus-circle.fa-2x


            button.btn.btn-primary(type='submit') Hochladen
    script(src="../js/recipeCreate.js")
