extends layout

block content
    .container.py-5
        form(action="/rezepte/erstellen" method="post")
            .mb-3
                label.form-label(for='inputTitle') Titel
                input#inputTitle.form-control(type='text' name="title")
            .mb-3
                label.form-label(for='inputCategory') Kategorie
                select#inputCategory.form-select(name="category")
                    option Vorspeise
                    option Hauptspeise
                    option Nachspeise
            .mb-3
                label.form-label(for='inputImg') Foto (URL)
                input#inputImg.form-control(type='url' name="img")
            .mb-3
                label.form-label(for='inputInstructions') Zubereitung
                textarea#inputInstructions.form-control(rows="10" name="instructions")
            #ingredientList.mb-3
                label.form-label Zutaten
                .row
                    .col-2
                        label.form-label Menge
                    .col-9
                        label.form-label Zutat
                .inputRow.row
                    .col-2
                        input#inputIngredientAmount1.inputIngredientAmount.form-control(type='text' name="amount1")
                    .col-8
                        input#inputIngredient1.inputIngredient.form-control(type='text' name="ingredient1")
                    .col-1.d-flex.justify-content-center.align-items-center
                        i#addIngredientBtn.ingredientControlBtn.fas.fa-plus-circle.fa-2x
                    .col-1.d-flex.justify-content-center.align-items-center
                        i#removeIngredientBtn.ingredientControlBtn.fas.fa-minus-circle.fa-2x
            button#uploadBtn.btn.btn-primary Hochladen

    #successModal.modal.fade(tabindex='-1' aria-hidden='true' data-bs-backdrop="static")
        .modal-dialog
            .modal-content
                .modal-header
                .modal-body
                    p Das Rezept wurde erfolgreich hochgeladen!
                .modal-footer
                    a(href="/rezepte") 
                        button.btn.btn-primary(type='button') Zu den Rezepten

    #errorModal.modal.fade(tabindex='-1' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    p Beim Hochladen des Rezeptes gab es ein Problem. Bitte fülle alle Felder aus!

    script(src="../js/recipeCreate.js")
